*{
  padding: 0px;
  margin:0px;
  background-color:white;
  box-sizing: border-box;
  background-color: #EAEDFC;
  color: dimgray;
  font-size: 1.0em;
  font-family: 'Lexend', sans-serif;
}

.main {
  display: flex;
  height: 100vh;
}

.nav{
  display: flex;
  flex: 0.025;
  background: #FFFFFF;
  padding: 15px;
  justify-content: center;
  flex-direction: column;
}


.navItem{
  display: flex;
  margin: 5px;
  margin-top: 20px;
  padding: 0px;
  flex-wrap: nowrap;

}

i {
margin: 0px;
padding: 0px;
background-color: white;
color: grey;
}

.mainNav{
  display: flex;
  background-color: grey;
  flex: 0.1;
  background: #FFFFFF;
  padding: 10px;
  padding-left: 0px;
  justify-content: space-between;
  flex-direction: column;
  border-left: 1px solid grey;
  align-content: center;
  border-radius: 25px 0px 0px 25px;
  text-transform: uppercase;
}

.profilePicArea{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center ;
  background-color: white;
  text-transform: capitalize;
  margin-top:45px;
}

.profilePics{
  width: 112px;
  height: 112px;
}

.navItemArea{
  background-color: white;
  font-family: 'Lexend', sans-serif;
}

.mainNavItem{
  display: flex;
  background-color: white;
  margin: 10px;
  margin-bottom: 20px;
  margin-left: 50px;
  padding: 0px;
  flex-wrap: nowrap;
}

a{
  text-decoration: none;
  background-color: white;
}

.mainNav span{
margin-left: 20px;
background-color: white;

}

.contactArea{
  flex: 0.3;
  padding: 25px;
  margin:35px;
  background-color: #f1f4f9;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 0px;
}

.contactArea::-webkit-scrollbar {
  width: 0.5em;
}

.contactArea::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.contactArea::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 10px;
  border-top: none;
}

ul, li{
  background: #ffffff;
}

.chatSearchBox{
  background-color: #f1f4f9;
  padding-top: 10px;
  position:sticky;
  top: 0px;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  z-index: 2;
}

.chatSearchBox h3{
  background-color: #f1f4f9;
}

.searchInput {
  border: 0px;
}
.messageItem{
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 4px;
  margin-top: 15px;
  border: none;

  box-shadow: 2px 4px 13px 0px rgba(0,0,0,0.19);
  -webkit-box-shadow: 2px 4px 13px 0px rgba(0,0,0,0.19);
  -moz-box-shadow: 2px 4px 13px 0px rgba(0,0,0,0.19);
  font-size: 0.8em;
}

.messageItem:hover{
  transform: scale(1.07,1.07);
}

.italicText{
  color: #6ba5e6;
  font-style: italic;
  font-weight: bold;
  background: #ffffff;
  font-size: 0.9em
}

.user{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  margin:10px;
  padding: 5px;
}

.userDiv{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  font-weight: bold;
}
.Username{
  font-weight: bold;
  font-size: 1.2em;
}
.messageBrief{
  background-color: #ffffff;
  padding: 5px;
  margin:  10px;
}

.messageBrief p{
  background-color: #ffffff;
}

.msgIcon{
  width:32px;
}

.boldText{
  font-weight: bold;
  color: #9a9c9f;
}

.bold{
  font-weight: bold;
  color: black;
}

.messageArea{
  display: flex;
  flex-direction: column;
  flex:0.821;
  padding: 40px;
  margin: 15px;
  background-color: #f1f4f9;
}

.contentArea{
  display: flex;
  flex: 0.9;
  flex-direction: row;
  background-color: #f1f4f9;
}


.activeUser{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #f8fcff;
  margin:10px;
  padding: 5px;

  box-shadow: 2px 4px 13px 0px rgba(0,0,0,0.19);
  -webkit-box-shadow: 2px 4px 13px 0px rgba(0,0,0,0.19);
  -moz-box-shadow: 2px 4px 13px 0px rgba(0,0,0,0.19);
}

.userDetails{
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  align-content: center;
  padding:5px;
  background-color: #f8fcff;
}

.userDetails h6{
  background-color: #f8fcff;
}

.userDetails span{
  color: #6ba5e6;
  font-style: italic;
  font-weight: bold;
  background-color: #f8fcff;
}

.buttons{
  margin: 5px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #f8fcff;
}

.chatActionButtons{
  margin: 5px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.buttonsIcon{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2vw;
  height: 2vw;
  border-radius: 50%;
  background: #ffffff;
  margin: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
  box-shadow: 2px 4px 13px 0px rgba(0,0,0,0.19);
  -webkit-box-shadow: 2px 4px 13px 0px rgba(0,0,0,0.19);
  -moz-box-shadow: 2px 4px 13px 0px rgba(0,0,0,0.19);
  font-size: 0.8em;
}

.buttonsIcon:hover{
    transform: scale(1.09,1.09);
}

.messageConntent{
  display: flex;
  flex-direction: column-reverse;
  flex-grow: 1;
  background-color: #ffffff;
  margin: 0px 10px 0px 10px;

  box-shadow: 2px 4px 13px 0px rgba(0,0,0,0.19);
  -webkit-box-shadow: 2px 4px 13px 0px rgba(0,0,0,0.19);
  -moz-box-shadow: 2px 4px 13px 0px rgba(0,0,0,0.19);
}

.msgContentArea{
  order: 1
  padding: 0px 35px 0px 35px;
}

.messageInput{
  order:2;
  padding: 0px 35px 0px 35px;
  background-color: white;
  display: flex;

}

.chatInput{
  height: 50px;
  border: 0px grey;
  border-top:1px solid #dfdfdf;
  border-radius: 0px;

}
.footer{
  display: flex;;
  justify-content:flex-start;
  margin-left: 30px;
  padding: 15px;
  background-color: #ffffff;
}

.logout{
  background-color: #ffffff;
}

li{
  display: block;
}
